
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>主页</title>
    <link rel="stylesheet" href="~/css/home.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>

<body>
    <div>
        <div class="header">
            <h1>在线同学录</h1>
            <button title="主页" type="button" class="homeBtn"></button>
            <button title="留言" type="button" class="MessageBoardBtn"></button>
            <button title="相册" type="button" class="PhotoAlbumBtn"></button>
            <button title="退出登录" type="button" class="offBtn"></button>
        </div>
        <div class="body">
            <div class="leftDiv">
                <div class="leftTop">
                    <ul>
                        <li class="classHomeImg">
                            @*<img src="#" alt="Alternate Text" />*@
                        </li>
                        <li class="userNameLi">
                            <span>用户名：</span>
                            <span class="userNames"></span>
                        </li>
                        @*<li>
                                <p><span>类型:</span><span>普通</span><span>/</span><span>管理</span></p>
                            </li>*@
                        <li class="UserBtn">
                            <button type="button" class="btn btn-warning">管理员设置</button>
                        </li>
                        <li class="UserBtn"><button class="btn btn-primary">修改个人资料</button></li>
                    </ul>

                </div>
                <div class="leftBottom">
                    <h2>公告</h2>
                    <div class="leftBottomDiv"></div>
                </div>
            </div>
            <div class="rightDiv">
                <div class="rightTop">
                    <img src="" alt="">
                </div>
                <div class="rightCenter">
                    <div class="rightCenterL">
                        <h3 class="titleName"><span>班级介绍</span><span>more</span></h3>
                        <p>
                            48个快乐的孩子，怀着对梦的执着；对美好青春的渴望；对未来无限的憧憬；踏进了六年五班。这是一个团结上进的班集体；一个温馨和谐的大家庭，一个充满爱的乐园。一个团结的群体，一个充满活力的群体，一个不甘落后的群体，一个饱含热情的群体 ；它不会因为矛盾而分散，不会因为压力而沉寂，不会因为失败而丧气，不会因为竞争而冷漠。我们，是一个整体，我们，是不可分割的一织血脉。纵然有过羞涩，纵然有过隔阂，但一切的不愉快都随风飘逝，所有的不和都随波消散，友好，和睦，亲密无间，成为了永恒的旋律。心灵与心灵相交融，友爱和友爱相重叠，平平淡淡的生活中，所涂抹出来的，是一幅没有灰色，没有黑色，没有夜的暗，没有冬之寒的油画。这就是五班。
                        </p>
                    </div>
                    <div class="rightCenterR">
                        <h3 class="titleName"><span>同学信息</span><span>more</span></h3>
                        <div class="StudentsInformation">
                            <ul>
                                @*<li>
                                    <p>
                                        <img src="" alt="">
                                        <span>某某人</span>
                                    </p>
                                </li>*@
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="rightBottom">
                    <div class="rightBottomL">
                        <h3 class="titleName"><span>相册</span><a href="../home/ImgList">more</a></h3>
                        <div>
                            <img style="width:300px; margin:0 10px;" src="#" alt="Alternate Text" />
                            <img style="width:300px;margin:0 10px;" src="#" alt="Alternate Text" />
                        </div>
                    </div>
                    <div class="rightBottomR">
                        <h3 class="titleName"><span>留言板</span><span>more</span></h3>
                        <div class="MessageBoard">
                            <ul>

                            </ul>
                            <div class="upMessageBoardDiv">
                                <textarea></textarea>
                                <button class="addMessageBoardBtn" type="button"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/home.js"></script>
</body>

</html>

