
@{
    Layout = null;
}



<!DOCTYPE html>
<!--[if IE 8]> <html lang="cn" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="cn">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>班级同学录 | 登录</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

    <link href="//lib.baomitu.com/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
    <link href="//lib.baomitu.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="//lib.baomitu.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/animate.min.css" rel="stylesheet">
    <link href="~/css/app_1.min.css" rel="stylesheet" />
    <link href="~/css/app_2.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

</head>
<body class="pace-top bgm-white">
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>

    <div id="page-container" class="fade">
        <div class="login login-with-news-feed">
            <div class="news-feed">
                <div class="news-image">
                    <img src="~/assets/img/bg.jpg" data-id="login-cover-image" alt="" />
                </div>
                <div class="news-caption">
                    <h4 class="caption-title"><i class="fa fa-diamond text-success"></i> 欢迎使用 班级同学录~</h4>
                </div>
            </div>
            <div class="right-content">
                <div class="login-header">
                    <div class="brand">
                        <span class="logo"></span> 登录
                        <small>
                            用户名为[你的姓名]，默认密码为[管理员给你的六位数字]。请您登录后务必尽快修改密码！
                        </small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-sign-in"></i>
                    </div>
                </div>
                <div class="login-content">
                    <form id="Login" class="margin-bottom-0">
                        <div class="form-group m-b-15">
                            <input type="text" class="form-control input-lg" id="Username" placeholder="你的大名" required />
                        </div>
                        <div class="form-group m-b-15">
                            <input type="password" class="form-control input-lg" id="Password" placeholder="登录密码" required />
                        </div>
                        <div class="login-buttons">
                            <button type="submit" id="Button" class="btn btn-success btn-block btn-lg">登 录</button>
                        </div>

                        <div class="m-t-20 m-b-40 p-b-40 text-inverse">
                            没有账号？
                            <a href="reg">点击这里注册</a>。
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-migrate.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/waves.min.js"></script>
    <script src="~/Scripts/bootstrap-growl.min.js"></script>
    <script src="~/Scripts/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/jquery.cookie.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script>
        $(document).ready(function () {
            App.init();
        });
        $('#Login').submit(function () {
            $('#Button').attr('disabled', 'disabled');
            $.ajax({
                url: "/index.php?s=func/User/Login.html",
                data: {
                    Username: $('#Username').val(),
                    Password: $('#Password').val()
                },
                cache: false,
                dataType: 'json',
                success: function (data) {
                    if (data.Code == 1) {
                        notify(data.Message, 'success');
                        setTimeout(function () {
                            window.location.href = "/index.php?s=Index.html";
                        }, 1000);
                    } else {
                        $('#Button').removeAttr('disabled');
                        notify(data.Message, 'danger');
                    }
                },
                error: function () {
                    $('#Button').removeAttr('disabled');
                    notify('连接失败...请重试', 'danger');
                }
            });
            return false;
        });
    </script>
</body>
</html>