
@{
    Layout = null;
}


<!DOCTYPE html>
<!--[if IE 8]> <html lang="cn" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="cn">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>班级同学录 | 注册</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

    <link href="~/css/jquery-ui.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/animate.min.css" rel="stylesheet">
    <link href="~/css/app_1.min.css" rel="stylesheet" />
    <link href="~/css/app_2.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body class="pace-top bgm-white">
    <div id="page-container" class="fade">
        <div class="register register-with-news-feed">
            <div class="news-feed">
                <div class="news-image">
                    <img src="~/assets/img/bg.jpg" alt="" />
                </div>
                <div class="news-caption">
                    <h4 class="caption-title"><i class="fa fa-edit text-success"></i> 欢迎使用 班级同学录~</h4>
                </div>
            </div>
            <div class="right-content">
                <h1 class="register-header">
                    注册
                    <small>在班级同学录注册一个账号，注册后您将会拥有自己的个人主页并且可以查看其他同学的资料。</small>
                </h1>
                <div class="register-content">
                    <form id="Reg" class="margin-bottom-0">
                        <label class="control-label">登录用户名 <span class="text-danger">*</span></label>
                        <div class="row row-space-10">
                            <div class="col-md-12 m-b-15">
                                <input type="text" class="form-control" placeholder="请输入用户名" required id="Username" />
                            </div>
                        </div>
                        <label class="control-label">账号密码 <span class="text-danger">*</span></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                <input type="password" class="form-control" placeholder="登录密码" required id="Password" />
                            </div>
                        </div>
                        <label class="control-label">QQ号码 <span class="text-danger">*</span></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                <input type="number" class="form-control" placeholder="用于获取头像" required id="QQ" />
                            </div>
                        </div>
                        <label class="control-label">选择班级：并回到对应问题<span class="text-danger">*</span></label>

                        <div class="dropup row m-b-15">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="classNum">选择班级</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">1班</a></li>
                                <li><a href="#">2班</a></li>
                                <li><a href="#">3班</a></li>
                                <li><a href="#">4班</a></li>
                            </ul>
                        </div>

                        <label class="control-label">问题1: <span id="Question1">2班班长是谁？</span><span class="text-danger">*</span></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="" required id="answer1" />
                            </div>
                        </div>
                        <label class="control-label">问题2:<span id="Question2">2班班长是谁？</span><span class="text-danger">*</span></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="" required id="answer2" />
                            </div>
                        </div>
                        <label class="control-label">问题3:<span id="Question2">2班班长是谁？</span><span class="text-danger">*</span></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="" required id="answer3" />
                            </div>
                        </div>
                        <div class="register-buttons">
                            <button type="submit" required="required" id="Button" class="btn btn-primary btn-block btn-lg">注册</button>
                        </div>
                        <div class="m-t-20 m-b-40 p-b-40 text-inverse">
                            已经有账号了？ 点击 <a href="logon">这里</a> 登录。
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-migrate.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/waves.min.js"></script>
    <script src="~/Scripts/bootstrap-growl.min.js"></script>
    <script src="~/Scripts/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/jquery.cookie.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script>
        $(document).ready(function () {
            App.init();
        });
        $('#VCodeShow').click(function () {
            //$(this).attr('src', '/index.php?s=func/VCode.html');
            $('#VCode').val('');
        });
        $('#Reg').submit(function () {
            $('#Button').attr('disabled', 'disabled');
            $.ajax({
                url: "../User/Regist",
                data: {
                    UserName: "dsadsada",
                    Password: "abc123456",
                    QqId: "240269961"
                    //UserName: $('#Username').val(),
                    //Password: $('#Password').val(),
                    //ClassPassword: $('#ClassPassword').val(),
                    //QqId: $('#QQ').val(),
                    //VCode: $('#VCode').val(),
                },
                success: function (data) {
                    console.log(data);
                    //if (data.Code == 1) {
                    //    notify(data.Message, 'success');
                    //    setTimeout(function () {
                    //        window.location.href = "/index.php?s=Index.html";
                    //    }, 1000);
                    //} else {
                    //    $('#Button').removeAttr('disabled');
                    //    notify(data.Message, 'danger');
                    //    $('#VCodeShow').click();
                    //}
                },
                error: function () {

                }
            });
            return false;
        });
    </script>
</body>
</html>