
@{
    Layout = null;
}


<!DOCTYPE html>
<!--[if IE 8]> <html lang="cn" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="cn">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>班级同学录 | 注册</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

    <link href="~/css/jquery-ui.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/animate.min.css" rel="stylesheet">
    <link href="~/css/app_1.min.css" rel="stylesheet" />
    <link href="~/css/app_2.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <style>
        .userTypeSelect, .choiceClassSelect {
            width: 100%;
        }
        .layui-form-label{
            float:none;
            width:100%;
            text-align:start;
        }
        .layui-input-block{
            margin-left:0;
        }
        .layui-form-label{
            padding-left:0;
        }
    </style>
</head>
<body class="pace-top bgm-white">
    <div id="page-container" class="fade">
        <div class="register register-with-news-feed">
            <div class="news-feed">
                <div class="news-image">
                    <img src="~/assets/img/bg.jpg" alt="" />
                </div>
                <div class="news-caption">
                    <h4 class="caption-title"><i class="fa fa-edit text-success"></i> 欢迎使用 班级同学录~</h4>
                </div>
            </div>
            <div class="right-content">
                <h1 class="register-header">
                    注册
                    <small>在班级同学录注册一个账号，注册后您将会拥有自己的个人主页并且可以查看其他同学的资料。</small>
                </h1>
                <div class="register-content">
                    <form class="margin-bottom-0">
                        <label class="control-label">登录用户名 <span class="text-danger">*</span></label>
                        <div class="row row-space-10">
                            <div class="col-md-12 m-b-15">
                                <input type="text" class="form-control" placeholder="请输入用户名" value="" required id="Username" />
                            </div>
                        </div>
                        <label class="control-label">账号密码 <span class="text-danger">*</span></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                <input type="password" class="form-control" placeholder="登录密码" value="" required id="Password" />
                            </div>
                        </div>
                        <label class="control-label">QQ号码 <span class="text-danger">*</span></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                <input type="number" class="form-control" placeholder="用于获取头像" value="" required id="QQ" />
                            </div>
                        </div>
                        <div class="layui-form-item ">
                            <label class="layui-form-label">注册类别</label>
                            <div class="layui-input-block">
                                <select name="city" lay-verify="required" class="userTypeSelect">
                                    <option value="2">普通用户</option>
                                    <option value="1">管理员</option>
                                </select>
                            </div>
                        </div>
                        @*<div class="dropup row m-b-15 regCategory">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="">注册类别</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu " aria-labelledby="dropdownMenu1">
                <li class='classUser' id='user'><a href="javascript:void(0);" onclick="userTypeClick(this)">普通用户</a></li>
                <li class='classAdmin' id='admin'><a href="javascript:void(0);" onclick="userTypeClick(this)">管理员</a></li>
            </ul>
        </div>*@
                        <label class="control-label createClass">创建班级名称 <span class="text-danger">*</span></label>
                        <div class="row m-b-15 createClass">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="新班级名称" value="" required id="ClassName" />
                            </div>
                        </div>
                        <div class="layui-form-item  choiceClass">
                            <label class="layui-form-label">选择班级：并回到对应问题</label>
                            <div class="layui-input-block">
                                <select name="city" lay-verify="required" class="choiceClassSelect" >
                                    <option value=""></option>
                                    <option value="0">北京</option>
                                    <option value="1">上海</option>
                                </select>
                            </div>
                        </div>
                        @*<label class="control-label choiceClass">选择班级：并回到对应问题<span class="text-danger">*</span></label>

        <div class="dropup row m-b-15 choiceClass">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="classNum">选择班级</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1"></ul>
        </div>*@

                        <label class="control-label choiceClass">问题1: <span id="Question1">2班班长是谁？</span><span class="text-danger">*</span></label>
                        <div class="row m-b-15 choiceClass">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="" value="" required id="answer1" />
                            </div>
                        </div>
                        <label class="control-label choiceClass">问题2:<span id="Question2">2班班长是谁？</span><span class="text-danger">*</span></label>
                        <div class="row m-b-15 choiceClass">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="" value="" required id="answer2" />
                            </div>
                        </div>
                        <label class="control-label choiceClass">问题3:<span id="Question3">2班班长是谁？</span><span class="text-danger">*</span></label>
                        <div class="row m-b-15 choiceClass">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="" value="" required id="answer3" />
                            </div>
                        </div>

                        <div class="register-buttons">
                            <button type="button"  required="required" id="Reg" class="btn btn-primary btn-block btn-lg">注册</button>
                        </div>
                        <div class="m-t-20 m-b-40 p-b-40 text-inverse">
                            已经有账号了？ 点击 <a href="logon">这里</a> 登录。
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-migrate.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/waves.min.js"></script>
    <script src="~/Scripts/bootstrap-growl.min.js"></script>
    <script src="~/Scripts/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/jquery.cookie.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>

    <script>
        $(document).ready(function () {
            App.init();
        });
        Array.prototype.serializeObject = function (lName) {
            var o = {};
            $t = this;

            for (var i = 0; i < $t.length; i++) {
                for (var item in $t[i]) {
                    o[lName + '[' + i + '].' + item.toString()] = $t[i][item].toString();
                }
            }
            return o;
        };
        window.onload = function () {

            //注册类型选择
            $(".userTypeSelect").change(function () {
                var $this = $(this);
                if ($this.val() == 1) {
                    $(".createClass").show();
                    $(".choiceClass").hide();
                } else {
                    $(".createClass").hide();
                    $(".choiceClass").show();
                }
            })
            $(".userTypeSelect").change();
            //班级选择
            $(".choiceClassSelect").change(function () {
                $.post("../ClassInfo/GetClassQuestionByClassId", { classId: $(this).val() }, function (data) {
                    console.log(data);
                    $("#Question1").text(data[0].Question);
                    $("#Question2").text(data[1].Question);
                    $("#Question3").text(data[2].Question);
                })
            });
            $.ajax({
                url: "../ClassInfo/GetAllActiveClassForSelect",
                data: {
                },
                success: function (data) {
                    console.log("===================")
                    $(".choiceClassSelect").empty()
                    $(data).each(function () {
                        
                        $(".choiceClassSelect").append(
                            `<option  value='` + this.Key + `'>` + this.Value + `</option>`
                        );
                    });
                    $(".choiceClassSelect").change();
                    $(".classNum").on("click", function () {
                        var classNum = $(this).attr("id");
                    });
                },
                error: function () {

                }
            });

            $('#Reg').click(function () {
                $('#Reg1').attr('disabled', 'disabled');
                var data = {};
                data.UserName = $("#Username").val();
                data.Password = $("#Password").val();
                data.QqId = $("#QQ").val();
                data.UserType = $(".userTypeSelect").val();
                if ($(".userTypeSelect").val() == "2") {
                    data.ClassId = $(".choiceClassSelect").val();
                    var QuestionConfig = [
                        { Question: $("#Question1").text(), Answer: $("#answer1").val() },
                        { Question: $("#Question2").text(), Answer: $("#answer2").val() },
                        { Question: $("#Question3").text(), Answer: $("#answer3").val() }];

                    data.QuestionConfig = QuestionConfig;

                } else {
                    data.ClassName = $("#ClassName").val();
                }
                $.post("../User/Regist", data, function (reData) {
                    console.log(reData);
                })
                //$.ajax({
                //    url: "../User/Regist",
                //    data: data,
                //    //data: $.param(data.serializeObject("list1")),
                //    traditional: true,
                //    //data: { list1:aa},
                //    success: function (data) {
                //        console.log(data);
                //    },
                //    error: function () {

                //    }
                //});
                //return false;
            });
        };
        $(".regCategory").change(function () {
            console.log("==========================")
            alert("1111111111111");
        });
        

        $('#VCodeShow').click(function () {
            //$(this).attr('src', '/index.php?s=func/VCode.html');
            $('#VCode').val('');
        });
        function userTypeClick(option) {
            alert($(this).val());
            alert($(this).text());
        }
    </script>
</body>
</html>