* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    overflow: hidden;
}
.leftBottom::-webkit-scrollbar {
    display: none;
}
button{
    outline:none;
}
h1 {
    margin: 0 !important;
    padding: 28px 3%;
    color:white !important;
    width:86%;
    display:inline-block;
}
h2 {
    font-family: SimHei !important;
    color: #6cc4b2 !important;
}
h3 {
    margin: 0 !important;
    padding: 20px 0;
}
.leftBottomDiv h3{
    font-size:14px !important;
}
.glyphicon-off {
    display: inline-block !important;
    height: 30px;
}

li {
    list-style: none;
}

.header {
    width: 100%;
    background: #02a1d6;
    position: fixed;
    z-index: 999;
    top: 0;
}

.leftDiv {
    float: left;
    height: 100%;
    width: 20%;
    background: #f8f8f8;
    box-shadow: 3px 0px 8px 2px rgba(0, 0, 0, 0.1);
}

.leftTop, .leftBottom {
    height: 50%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}
.leftTop ul{
    width:70%;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}
.rightDiv {
    float: right;
    height: 100%;
    width: 78%;
}

.rightTop, .rightCenter, .rightBottom {
    height: 33%;
    width: 100%;
}

.rightCenterL, .rightCenterR, .rightBottomL, .rightBottomR {
    float: left;
    width: 49%;
    height: 94%;
    margin: 0.5%;
    overflow: hidden;
    background: #e2e2e2;
    display: flex;
    flex-direction: column;
    background: rgba(255,255,255,0.8);
    border:2px solid #f5f5f5;
}

.titleName :nth-child(1) {
    float: left;
    width: 70%;
    padding:0 2.5%;
    color:white;
}

.titleName :nth-child(2) {
    float: right;
    width: 20%;
    text-align: center;
    padding:0 2.5%;
    color:white;
}
.classHomeImg img, .ClassmateImg, .MessageBoardImg {
    border-radius: 50%;
    border: 2px solid #bcbcbc;
}
.UserBtn, .UserBtn  button{
    width: 100%;
    margin:4px 0;
}
.userNameLi{
    margin:10px 0;
}
.leftBottom{
    display:flex;
    flex-direction:column;
    overflow-y:scroll;
}
.leftBottomDiv {
    display: flex;
    flex-direction: column;
    width:95%;
}
.leftTop{
    background:url("../assets/img/userBg.jpg") no-repeat;
    background-size:240%;
}


.offBtn {
    background: url("../assets/img/off.png");
}
.homeBtn {
    background: url("../assets/img/home.png");
}
.MessageBoardBtn {
    background: url("../assets/img/MessageBoard.png");
}
.PhotoAlbumBtn {
    background: url("../assets/img/PhotoAlbum.png");
    vertical-align: sub;
}

.offBtn, .homeBtn, .MessageBoardBtn, .PhotoAlbumBtn {
    width: 32px;
    height: 32px;
    background-size: 100%;
    border: none;
    margin: 0 10px;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
.StudentsInformation, .MessageBoard {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    padding: 1% 5%;
    position: relative;
}
.StudentsInformation::-webkit-scrollbar, .MessageBoard::-webkit-scrollbar {
    display: none;
}
    
.rightCenterL h3 {
    background: #27ded3;
    width: 100%;
}
.rightCenterR h3 {
    background: #8c27de;
    width: 100%;
}
.rightBottomL h3 {
    background: #e787c6;
    width: 100%;
}
.rightBottomR h3 {
    background: #ffbd11;
    width: 100%;
}
.rightDiv{
    background-size:100%;
}
.titleName div img{
    width:300px;
}
.Msg {
    margin: 0 7% !important;
}
.MsgTimes{
    margin-left:7%;
}
.MessageBoard li{
    border-bottom:1px solid #ccc;
    margin:6px 0;
}
.addMessageBoardBtn {
    width: 14.1%;
    height: 30px;
    background: #ffda9a no-repeat;
    /*background-image: url("../assets/img/upImg.png");*/
    background-position:30px 10px;
    border:none;
}
.upMessageBoardDiv {
    position: fixed;
    z-index: 999;
    bottom: 18px;
    background: #b3b3ff;
    width: 37.8%;
    right: 9px;
}
.ClassmateUserName, .ClassmateQQnum {
    display: inline-block;
    margin: 0 10px;
}