body {
    background: #f3f3f3;
}
.imglist{
    height:auto;
}
.rightDiv{
    overflow-y:scroll;
    min-height:900px;
}
.imglist li {
    width: 23%;
    margin: 1%;
    border: 1px solid #dadada;
    border-radius: 6px;
    box-shadow: 0px 3px 20px -3px rgba(0, 64, 128, 0.2);
    background: #fff;
    float:left;
    height:400px;
}
.imglist li img {
    width: 100%;
    height:300px;
    border-radius: 6px;
}
.imgMsg{
    padding:10px;
    height:100px;
}
.modal-footer{
    background:#6cc4b2;
    padding:10px;
    clear:both;
}
.modal-footer p {
    display: flex;
    justify-content: center;
    color: white;
}
h2 {
    font-family: SimHei;
    color: #6cc4b2;
    margin: 2%;
    margin-top: 30px;
}
.ImgIntro {
    margin: 2%;
    font-size:12px;
    color:#a9a9a9;
}
.imgDivL{
    float:left;
    width:90%;
}
.imgDivR{
    float:left;
    width:10%;
    line-height:100px;
}
.leftDiv {
    box-shadow: 3px 0px 8px 2px rgba(0, 0, 0, 0.1);
}
.delImgBtn {
    height: 32px;
    width: 32px;
    background: url("../assets/img/del.png") no-repeat;
    background-size:100%;
    border:none;
    float:right;
}
.fileinput-button {
    position: relative;
    display: inline-block;
}

.fileinput-button input {
    position: absolute;
    right: 0px;
    top: 0px;
}